* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #f7f7f7;
}

#sector{
  background-color: #76c1d4;
  margin: 16px;
  width: 98%;
  padding: 20px;
  border-radius: 10px;
  font-size: 25px;

}

.top {
  border: 5px solid #3d7c47;
  margin-top: 80px;
  padding-top: 80px;
}

#title {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
}
#numero {
  width: 50px;
}


.navbar{
 overflow: hidden;
 background-color: #333;
 position: fixed;
 top: 0;
 width: 100%;
 display: flex;
 justify-content: space-between;
 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #3d7c47;
}
