* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #f7f7f7;
}

#sector{
  background-color: #76c1d4;
  margin-top: : 16px;
  margin-left: 12px;
  width: 98%;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.top {
  border: 5px solid #3d7c47;
  margin-top: 80px;
  padding-top: 80px;
}

#title {
  font-family: 'Kaushan Script', cursive;
  color: white;
  font-size: 50px;
}
#numero {
  width: 50px;
}


.navbar{
 overflow: hidden;
 background-color: #333;
 position: fixed;
 top: 0;
 width: 100%;
<<<<<<< HEAD
=======
 font-family: 'Montserrat', sans-serif;
 font-size: 15px;
>>>>>>> 727d6366433f3db086e0fb526bb2c8be1f5754a2
 display: flex;
 justify-content: space-between;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #3d7c47;
}
