.navbar{
 overflow: hidden;
 background-color: #333;
 position: fixed;
 top: 0;
 width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.intro {
  font-size: 35px;
}

.description {
  font-size: 32px;
}
.soda {
  color: red;
  font-size: 30px;
}

body {
  padding-top: 60px;
}

h3 {
  font-size: 28px;
}

.karmacola {
  color: green;
  font-size: 30px;
}

.candy {
  color: red;
  font-size: 30px;
}
