* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-align: center;

}

body{
  background: #f7f7f7;
}

html {
  scroll-behavior: smooth;
}

div{
  background-color: #76c1d4;
  margin: 16px;
  width: 98%;
  height: 600px;
  padding: 20px;
  padding-top: 50px;
  border-radius: 10px;

}

.navbar{
 overflow: hidden;
 background-color: #333;
 position: fixed;
 top: 0;
 width: 100%;

 display: flex;
 justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #3d7c47;
}

<<<<<<< HEAD
#sources {
  font-family: 'Montserrat', sans-serif;
}

.description {
  font-family: 'Montserrat', sans-serif;
}

.ourmission {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
=======
#input{
  display: flex;
  justify-content: center;
  flex-direction: row;

}

#comment{
  height: 20px;
  width: 33%;
  margin-left: 6px;
  margin-right: 10px;
}


#post{
  border: 5px lightgrey;
  border-radius: 5px;
  background: #09868b;
  color: white;
  padding: 5px;
}

.output{


}
.red {
  background-color: blue;
>>>>>>> 98642c0b9066513bf85744d9814aabd3c9e9cdf3
}
