*{
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  text-align: center;
}

h1{
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  color: white;
  /* background: #f7f7f7; */
  border-radius: 5px;
  padding: 20px;
  font-size: 50px;

}
button{
  font-size: 15px;
}

p{
font-size: 20px;
}

body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#opening{
  margin-top: 60px;
  border: 5px solid  #3d7c47;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#answer{
  text-align: left;
}

.question{
  background-color: #76c1d4;
  margin: 16px;
  width: 95%;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;

}

.navbar{
 overflow: hidden;
 background-color: #333;
 position: fixed;
 font-size: 15px;
 top: 0;
 width: 100%;

 display: flex;
 justify-content: space-between;

 box-sizing: border-box;
 text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 97%;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #3d7c47;
}

.red{
  background-color:red;
}

.green{
  background-color:green;
}

.submit{
  text-align: center;
}

#description {
  font-size: 20px;
}
